[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
rope = "*"
moto = "*"
rq = "*"
msgpack-python = "*"
click = "*"
dill = "*"
"boto3" = "*"
sympy = "*"
v = {version = "*", editable = true}

[packages]
mpmath = "*"
pynsq = "*"
click = "*"
rq = "*"
python-dotenv = "*"
tornado = "*"
redis = "*"
celery = "*"

[requires]
python_version = "3.7"
